p{
    font-size: 20pt;
    font-weight: bold;
}

a {
    color: black;
}
a:hover {
    color:red
}

img{
    width: 24%;
}

@font-face {
    font-family: 'Word2025.woff';
    src: url('font/Word2025/Pack2025.woff2')format('woff2'),
    url('font/Word2025/Pack2025.woff')format('woff');
        font-weight: normal;
        font-style: normal;
}
h1  {
    font-family: 'Word2025.woff';
    font-size: 70;
}

@font-face {
    font-family: 'Bellyn.woff';
    src: url('font/Bellyn/Bellyn.woff2')format('woff2'),
        url('font/Bellyn/Bellyn.woff')format('woff');
        font-weight: normal;
        font-style: normal;
}
h2 {
    font-family: 'Bellyn.woff';
    font-size: 40;
}

@font-face {
    font-family: 'Baimbo.woff';
    src: url('font/Baimbo/Baimbo.woff2')format('woff2'),
    url('font/Baimbo/Baimbo.woff')format('woff');
        font-weight: normal;
        font-style: normal;
}
h3  {
    font-family: 'Baimbo.woff';
    font-size: 40;
}

h4  {
    font-size: 190%;
}

h5  {
    font-size: 20;
}

img{
    max-width: 100%;
    max-height: 100%;
}
.hexagone {
    height: 200px;
    width: 550px;
}
.hexagone img {
    height: 200px;
    width:  550px;
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    }